  body{
        padding: 10%;
        background-color: silver
      }
  .header{
      margin-top: 0;
      width: 100%;
      height: 200px;
      background-color: silver;

     }
     .container{
     background-color: white;
     padding: 2%;
     }
      .row{
        clear: both;

      }
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
      .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
      .col-md-11, .col-md-12
      {
        float: left;
      }
      @media (min-width: 481px){
        .col-md-1{
          width: 8.33%;
        }
        .col-md-2{x
          width: 16.66%;
        }
        .col-md-3{
          width: 24.99%;
        }
        .col-md-4{
          width: 33.32%;
        }
        .col-md-5{
          width: 41.65%;
        }
        .col-md-6{
          width: 49.98%;
        }
        .col-md-7{
          width: 58.31%;
        }
        .col-md-8{
          width: 66.64%;
        }
        .col-md-9{
          width: 74.97%;
        }
        .col-md-10{
          width: 83.3%;
        }
        .col-md-11{
          width: 91.63%;
        }
        .col-md-12{
          width: 100%;
        }
      }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
      .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
      .col-sm-11, .col-sm-12
      {
        float: left;
      }
      @media (min-width: 0px) and (max-width: 480px){
          .col-sm-1{    
          width: 8.33%;
        }
        .col-sm-2{      
          width: 1%;
        }
        .col-sm-3{      
          width: 24.99%;
        }
        .col-sm-4{      
          width: 33.32%;
        }
        .col-sm-5{      
          width: 41.65%;
        }
        .col-sm-6{
          width: 49.98%;
        }
        .col-sm-7{
          width: 58.31%;
        }
        .col-sm-8{
          width: 66.64%;
        }
        .col-sm-9{
          width: 74.97%;
        }
        .col-sm-10{
          width: 83.3%;
        }
        .col-sm-11{
          width: 91.63%;
        }
        .col-sm-12{
          width: 100%;
              }
      }
      
          span{
          color:#E77500;
          
              }
          .main {
    background-color: silver; 
    list-style-type: none;
    text-align: center;
    margin-left: 10%;
    padding-right:0%;
    border-radius: 5px;

}

.sidebar {
    width: 10%;
    font-size: 20px;
    padding: 20px;
    display:table-cell;
    box-sizing: border-box;
    float: left;
    
}



